In [5]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, IntegerType, StringType
import pyspark.sql.functions as func

In [6]:
spark = SparkSession.builder.appName('sparkLearning').getOrCreate()

In [10]:
mysshema = StructType([
    StructField('UserId', IntegerType(), True),
    StructField('Name', StringType(), True),
    StructField('age', IntegerType(), True),
    StructField('friends', IntegerType(), True),
])

In [11]:
people_df = spark.read.format('CSV').schema(mysshema).option('path', 'fakefriends.csv').load()

In [42]:
output = people_df.select(people_df.UserId, people_df.Name, people_df.age, people_df.friends)\
.where((people_df.age < 30) & (people_df.friends > 300)).withColumn('insert_ts', func.current_timestamp()).orderBy(people_df.UserId)

In [43]:
output.head(6)

[Row(UserId=16, Name='Weyoun', age=22, friends=323, insert_ts=datetime.datetime(2025, 1, 7, 16, 56, 3, 264000)),
 Row(UserId=25, Name='Ben', age=21, friends=445, insert_ts=datetime.datetime(2025, 1, 7, 16, 56, 3, 264000)),
 Row(UserId=35, Name='Beverly', age=27, friends=305, insert_ts=datetime.datetime(2025, 1, 7, 16, 56, 3, 264000)),
 Row(UserId=66, Name='Geordi', age=21, friends=477, insert_ts=datetime.datetime(2025, 1, 7, 16, 56, 3, 264000)),
 Row(UserId=73, Name='Brunt', age=20, friends=384, insert_ts=datetime.datetime(2025, 1, 7, 16, 56, 3, 264000)),
 Row(UserId=84, Name='Ben', age=28, friends=311, insert_ts=datetime.datetime(2025, 1, 7, 16, 56, 3, 264000))]

In [44]:
output.createOrReplaceTempView('peoples')

In [45]:
spark.sql('select * from peoples').show()

+------+-------+---+-------+--------------------+
|UserId|   Name|age|friends|           insert_ts|
+------+-------+---+-------+--------------------+
|    16| Weyoun| 22|    323|2025-01-07 16:56:...|
|    25|    Ben| 21|    445|2025-01-07 16:56:...|
|    35|Beverly| 27|    305|2025-01-07 16:56:...|
|    66| Geordi| 21|    477|2025-01-07 16:56:...|
|    73|  Brunt| 20|    384|2025-01-07 16:56:...|
|    84|    Ben| 28|    311|2025-01-07 16:56:...|
|    89|   Worf| 24|    492|2025-01-07 16:56:...|
|   106|Beverly| 18|    499|2025-01-07 16:56:...|
|   115|  Dukat| 18|    397|2025-01-07 16:56:...|
|   118|    Ben| 28|    304|2025-01-07 16:56:...|
|   119|   Worf| 29|    344|2025-01-07 16:56:...|
|   136|   Will| 19|    335|2025-01-07 16:56:...|
|   178| Kasidy| 26|    381|2025-01-07 16:56:...|
|   200| Kasidy| 21|    472|2025-01-07 16:56:...|
|   206|   Will| 21|    491|2025-01-07 16:56:...|
|   213|   Worf| 28|    312|2025-01-07 16:56:...|
|   219|Lwaxana| 26|    345|2025-01-07 16:56:...|
|   238| Deanna| 25|    305|2025-01-07 16:56:...|
|   244|  Dukat| 21|    471|2025-01-07 16:56:...|
|   265| Gowron| 27|    471|2025-01-07 16:56:...|
+------+-------+---+-------+--------------------+
only showing top 20 rows

In [ ]:
class Solution:
    def maxProfit(self, prices: List[int]) -> int:
        buy = 0
        profit = []
        buy_day = 0
        for i in range(0, len(prices)-1):
            if prices[i] < prices[i+1]:
                buy = i
                buy_day = i + 1
        print()  
        for i in range(buy_day, len(prices)-1):
            if prices[i] > buy:
                profit.append(prices[i] - buy)

        return max(profit)